<footer>
    <nav>
        <a href="https://cobeauty.store/legales/">Términos y Condiciones</a> |
        <a href="https://cobeauty.store/contacto/">Contactanos</a> |
        <a href="https://cobeauty.store/">&#169; 2020 CoBeauty</a>
    </nav>
</footer>