<footer>
    <div class="row main-center">
        <div class="col-10 col-md-8 col-lg-6">
            <div class="row main-between controls">
                <div id="back-controls" class="btn-group">
                    <button type="back" class="btn btn-icon"><i class="icon-left"></i></button>
                    <button type="back" class="btn btn-text">volver</button>
                </div>
                <div class="btn-group">
                    <button type="forward" class="btn btn-text">continuar</button>
                    <button type="forward" class="btn btn-icon"><i class="icon-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <a href="https://cobeauty.store/legales/">Términos y Condiciones</a> |
        <a href="https://cobeauty.store/contacto/">Contactanos</a> |
        <a href="https://cobeauty.store/">&#169; 2020 CoBeauty</a>
    </nav>
</footer>