<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Cobeauty - Tu Tono Perfecto</title>
</head>