<header>
    <a href="https://cobeauty.store">
        <figure>
            <img src="/images/logo-white.png" alt="Logo cobeauty" />
            <figcaption>tu tono perfecto</figcaption>
        </figure>
    </a>
</header>