/* Generals */
* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  color: #333;
  background-color: white;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0 auto;
  padding: 0;
}
.container {
  width: 95%;
  margin: 0 auto;
}

/* text */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
}
.title {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}
a {
  color: #00B7FF;
}

/* buttons */
.btn {
  border: 1px solid transparent;
  margin: 0 1rem 0 0;
  font-size: .75rem;
  line-height: 1.5rem;
  border-radius: .25rem;
}
.btn-primary:disabled {
  color: #fff;
  background-color: #6eaaeb;
  border-color: #4686ca;
}
.btn-primary {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

/* colors */
.negros { color: black; }
.marrones { color: brown; }
.rubios { color: #b9b39c; }
.rojos { color: red; }

/* form questions */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
  .wrapper .question {
    width: 100%;
  }
  .wrapper .options {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper .option {
    margin: 0 .25rem;
    width: 45%;
    font-size: .75rem;
  }

/* form results */
.results ul {
  margin-left: 1rem;
  padding-left: .5rem;
  font-size: .8rem;
}
  .results ul>li .selection {
    font-style: italic;
    text-transform: uppercase;
  }
.results .product {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: .5rem 1.5rem;
}

/* form actions */
.actions {
  margin: 1rem 0;
}
  .actions a {
    font-size: .75rem;
    text-decoration: none;
  }
.hidden {
  display: none;
}

@media (min-width: 768px) {
  .wrapper .option {
    width: 23%;
  }
  .results ul {
    font-size: 1rem;
  }
}